.container {
    padding: 27px 0px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 33px;
    align-items: center;
}

.navbar a {
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.32px;
    vertical-align: middle;
}

.navbar .active {
    color: #B8860B;
}

.action {
    display: flex;
    align-items: center;
    gap: 7px;
}

.action div {
    border: 1px solid #B8860B;
    background-color: #FDF2D8;
    padding: 6px 13px 6px 6px;
    border-radius: 39px;
    cursor: pointer;
}

.action div a {
    display: flex;
    align-items: center;
    gap: 7px;

}

.action div a span {
    background-color: white;
    padding: 6px 8px;
    border-radius: 32px;
    display: flex;
    gap: 2px;
}

.action div a span p {
    color: #B8860B;
    font-weight: 600;
    font-size: 12px;
    line-height: 135%;
    letter-spacing: -0.2px;
    text-align: center;
    vertical-align: middle;
}

.action div a p {
    color: #0D0C0D;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.2px;
    text-align: center;
    vertical-align: middle;
}

.action>a {
    padding: 9px 24.5px;
    background-color: #B8860B;
    border-radius: 100px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.32px;
    vertical-align: middle;
}