.container {
    /* background-color: #FFFFFF; */
    border-radius: 12px;
    width: 354px;
    /* padding: 22px 0px 0px 30px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-bottom: 64px;
    cursor: pointer;
}

.image {
    background-color: white;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.body {
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
}

.top {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: white;
    border-bottom-right-radius: 12px;
    padding: 0px 30px;
}

.top h3 {
    color: black;
    font-weight: 700;
    font-size: 24.81px;
    line-height: 100%;
    letter-spacing: -0.28px;
}

.top p {
    color: #696969;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.28px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    /* gap: 12px; */
}

.bottom .left {
    background-color: white;
    border-bottom-right-radius: 12px;
    flex: 1;
    padding-right: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    gap: 21px;
    padding-left: 29px;
    padding-top: 6px;
    align-items: center;
}

.left button {
    border: 0.9px solid #B8860B;
    border-radius: 35px;
    padding: 10px 0px;
    color: #B8860B;
    font-weight: 500;
    font-size: 11.63px;
    line-height: 135%;
    letter-spacing: -0.17px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    width: 105px;
    cursor: pointer;
}

.bottom h3 {
    color: #B8860B;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.bottom .white {
    background-color: white;
}

.bottom .black {
    background-color: black;
    /* border-radius: 12px; */
    border-top-left-radius: 12px;
    height: 65px;
    padding: 8px 6px 6px 8px;
    width: 79px;
    /* margin-left: -24px; */
}

.bottom .black a {
    background-color: #B8860B;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom .black a h2 {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 35px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        margin-bottom: 44px;
    }

    .top {
        padding: 0px 12px;
    }

    .bottom .left {
        padding-left: 12px;
    }

    .left button {
        width: 92px;
        font-size: 10.29px;
    }

    .bottom h3 {
        font-size: 20px;
        line-height: 37.13px;
    }
}