.container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 101px 63px 146px;
    background-color: #000000;
    border-radius: 28.35px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header h2 {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.header div {
    display: flex;
    gap: 36px;
}

.header div p {
    border: 1px solid #FFFFFF;
    padding: 12px 32px;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.header div .active {
    background: linear-gradient(109.75deg, #B8860B 0%, #8B6914 100%);
    box-shadow: -3px -3px 6px 0px #FFFFFF1A inset;
    border: none;
}

.body {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.container>a {
    padding: 16.75px 22.33px;
    border-radius: 100px;
    border: 2px solid #B8860B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    color: #B8860B;
    font-weight: 500;
    font-size: 14.89px;
    line-height: 18.61px;
    letter-spacing: -0.3px;
    vertical-align: middle;
}